// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Include any default variable overrides here (though functions won't be available)

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 962px,
  xl: 1280px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1160px,
  xl: 1280px,
  xxl: 1440px
);

html {
  font-size: 20px;
  color: white;
  line-height: 29px;
}


$link-color: white;
$link-hover-color: white;
$link-decoration: none;

$nav-link-color: white;
$nav-link-hover-color: white;

$theme-colors: map-merge($theme-colors, ( // Our Custom theme colors
      "altdark": #121212,
      'black': #000000));

// recent changes to the way the text- and bg- classes are created requires additional SASS map merges in 5.1.0
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.navbar-brand {
  // Edit Bootstrap classes directly
  font-size: 20px !important;
}

;
